body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
}

header,
footer {
    background-color: #1e1e1e;
    padding: 10px;
    text-align: center;
}

button {
    background-color: #3a3a3a;
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#stats {
    margin: 20px;
    font-size: 1.2em;
}